    .navbar {
        background-color: #ffffff;
        border-style: solid;
        border-width: 1px;
        border-color: #cccccc;
        margin-bottom:40px;
        padding-bottom:0;
    }

    .nav-link {
        color: #777777;
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        font-weight: lighter;
        text-decoration: none;
    }

    .navbar-brand {
        color: #ffffff;
        font-weight: bolder;
        text-align: center;
        font-size: x-large;
        padding: 1em;
        background-color: #4aaaa5; 
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
        margin-top: .5rem;
    }

    .navbar-brand.mb-1.h1 {
        color: #ffffff;
        font-weight: bolder;
        text-align: center;
        font-size: x-large;
    }

    label {
        color: #777777;
    }
  
  .container {
    margin-top: 40px;  
    border: #dddddd;
    border-width: 4px;
    padding: 20px;
    margin: auto;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  }
  p { 
      color: #777777;
      font-size: medium;
  }

  h1 {
      color: #4aaaa5;
      font-size: x-large;
      font-weight: bold;
      border-bottom-color: #dddddd;
      border-bottom-style: solid;
      border-bottom-width: 3px;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }

  
  .soon { 
    position: relative;
    height: 220px;
    width: 100%;
    padding-top: 25px;
    margin: auto;
  }



  

 body { 
     background-image: url("images/grey.png")
    }


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #cccccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    margin:auto; 
    resize: vertical; 
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

input:placeholder-shown {
color: #cccccc;
}

input[type=text]:focus {
    border: 1px solid #4aaaa5;
  }

textarea {
    border: 1px solid #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777
}  

textarea:focus {
    border: 1px solid #4aaaa5;
}  

input[type=submit] {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #777777;
}

.container {
    background-color: #ffffff;
}

a.nav-link:hover {
    background-color: transparent;
    color: #4aaaa5;
    text-decoration: underline;
    
}

.text{
    color: #ffffff
}

.fixed-bottom {
    bottom: 0;
    width: 100%;
    height: 80px;
    font-size: 12px;
    padding-top:52px;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    border-top-color: #4aaaa5;
    border-top-style: solid;
    border-top-width: 8px;
}

.container {
    position: relative;
}

.text-block {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: #4aaaa5;
    color: white;
    margin: auto;
  }

a.wordguessgame {
    background-color: #4aaaa5;
    color: #ffffff;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
} 

a.wordguessgame:hover {
    font-weight: bold;
}