    .navbar {
        background-color: #ffffff;
        color: #777777;
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        font-weight: lighter;
        text-decoration: none;
        border-style: solid;
        border-width: 1px;
        border-bottom-color: #cccccc;
        margin-bottom:40px;
    }

    .navbar-brand {
        color: #ffffff;
        font-weight: bolder;
        text-align: center;
        font-size: x-large;
        height: fixed max-content;
        background-color: #4aaaa5; 
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

  
  .container {
    margin-top: 40px;  
    border: #dddddd;
    border-width: 4px;
    padding: 20px;
    margin: auto;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  }
  p { 
      color: #777777;
      font-size: medium;
  }

  h1 {
      color: #4aaaa5;
      font-size: x-large;
      font-weight: bold;
      border-bottom-color: #dddddd;
      border-bottom-style: solid;
      border-bottom-width: 3px;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }

  
  .soon { 
    position: relative;
    height: 220px;
    width: 254px;
    padding-top: 25px;
    margin: auto;
  }



  

 body { 
     background-image: url("images/grey.png")
    }


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #cccccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

input[type=text]:focus {
    border: 1px solid #4aaaa5;
  }

textarea {
    border: 1px solid #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777
}  

textarea:focus {
    border: 1px solid #4aaaa5;
}  

input[type=submit] {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #777777;
}

.container {
    background-color: #ffffff;
}

a:hover.navlink {
    background-color: transparent;
    color: #4aaaa5;
    text-decoration: underline;
    
}
